body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
  overflow: hidden; /* Prevent body from scrolling */
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
} 

/* main.css */
.container.post-container {
  height: calc(100vh - 10rem); /* Adjust height to account for header and footer */
  overflow-y: scroll; /* Enable vertical scrolling */
  padding-right: 15px; /* Prevent content from being hidden behind scrollbar */
  box-sizing: content-box; /* Ensure padding is not included in the height */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.container.post-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.fixed-sidebar {
  position: fixed;
  top: 5rem; /* Adjust based on header height */
  right: 0;
  width: 25%;
  height: calc(100vh - 10rem); /* Adjust height to account for header and footer */
  overflow-y: scroll; /* Enable vertical scrolling */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.fixed-sidebar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

form {
  max-width: 500px;
  margin: 0 auto;
  padding: 1em;
  background: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 0.5em;
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"] {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  padding: 0.7em;
  color: #fff;
  background-color: #007BFF;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

p {
  color: #333;
  margin-bottom: 1em;
}
